<ParallelIssues><Issue Message="Data race on ParallelChecker._Test.Events.race"><Location Value="SourceFile([257..265))" /><Location Value="SourceFile([257..265))" /></Issue><Issue Message="Data race on ParallelChecker._Test.Events.race"><Location Value="SourceFile([257..265))" /><Location Value="SourceFile([325..329))" /></Issue></ParallelIssues>